body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #35a6b0;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

button:active {
    background-color: #eee;
}
